{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-sm-4">
        <img class="mb-3 img-thumbnail" src="{{ request.user.userprofile.avatar.url }}" alt="Avatar">
    </div>
    <div class="col-sm-8">
        <form action="" method="POST" enctype="multipart/form-data">
            <h3>User Settings</h3>
    
            {% csrf_token %}
    
            {% for field in form %}
                <div class="custom-input">
                    <label class="form-label">{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
    
            <button type="submit" value="submit" class="btn btn-primary mt-3">Update</button>
        </form>
    </div>
</div>

{% endblock %}